.footer__footer {
  border-top: 1px solid $footer-border-color;
}

.footer__footer-wrapper {
  width: 320px;
  padding: 23px 15px 20px;
}

.footer__logo-image {
  display: block;
  fill: $primary-text-color;
}
