.form {
  position: relative;
  background-image:
    image-set(
      url("../../img/form/form-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/form/form-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/form/form-bg-mobile@1x.png") type("image/png") 1x,
      url("../../img/form/form-bg-mobile@2x.png") type("image/png") 2x,
    );
  background-repeat: no-repeat;
  background-position: -208px -1px;
  background-size: cover;
  z-index: 0;

  &::before {
    @include pseudo(100%, 100%);

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  @media (min-width: $tablet-width) {
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../img/form/form-bg-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/form/form-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/form/form-bg-desktop@1x.png") type("image/png") 1x,
        url("../../img/form/form-bg-desktop@2x.png") type("image/png") 2x,
      );
  }
}

.form__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 178px 31px 175px;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 186px 204px 185px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 296px 241px 294px;
  }
}

.form__wrapper h2 {
  margin: 0 0 16px;
  padding: 0;
  font-family: $primary-font;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 18px;
    font-size: 35px;
    line-height: 35px;
  }
}

.form__wrapper p {
  margin: 0 0 20px;
  padding: 0;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.form__wrapper p br {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__form {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form__form input {
  width: 258px;
  padding: 15px 0 14px 14px;
  border-radius: 2px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    width: 360px;
    padding: 17px 0 17px 28px;
  }
}

.form__email-input {
  border: 1px solid $instructor-card-border-color;
}

.form__telephone-input {
  border: 1px solid $instructor-card-border-color;
}

.form__form input::placeholder {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $input-placeholder-text-color;
}

.form__form-telephone {
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    margin: 0 0 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 32px 0 0;
  }
}

.form__form-email {
  margin: 0 0 9px;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 32px 0 0;
  }
}

.form__button {
  width: 256px;
  padding: 21px 19px 19px;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    width: 358px;
    padding: 20px 19px 17px;
  }
}

.form__form input:hover {
  border: 1px solid $accent-color;
}

.form__form input:focus {
  outline: none;
  border: 1px solid $primary-text-color;
}

.form__input-error {
  border: 1px solid $error-color;
}

.form__form input:disabled {
  pointer-events: none;
  border: 1px solid $disabled-slider-button;
}

.form__form input:disabled::placeholder {
  color: $disabled-text-color;
}

.form__button:hover {
  border: 1px solid $active-color;
  background-color: $primary-bg-color;
  color: $active-color;
}

.form__button:focus {
  outline: none;
  border: 1px solid $primary-bg-color;
  color: $active-color;
  background-color: $primary-bg-color;
}

.form__button:active {
  border: 1px solid $active-color;
  color: $secondary-text-color;
  background-color: $active-color;
}

.form__button:disabled,
.form__button.disabled {
  pointer-events: none;
  border: 1px solid $disabled-slider-button;
  color: $secondary-text-color;
  background-color: $disabled-slider-button;
}
