.gallery__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 37px 0 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 123px 0 0;
  }
}

.gallery__title {
  margin: 0 0 26px;
  padding: 0 15px;
  font-family: $primary-font;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    width: 450px;
    margin: 0 0 30px;
    padding: 0 45px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
    margin: 0 0 24px;
    padding: 0 120px;
    font-size: 35px;
    line-height: 35px;
  }
}

.gallery__title-shadow {
  position: absolute;
  top: 24px;
  left: 15px;
  font-family: $primary-font;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: $title-shadow-text-color;

  @media (min-width: $tablet-width) {
    top: 44px;
    left: 45px;
    width: 560px;
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 106px;
    left: 120px;
    width: 1025px;
    font-size: 55px;
    line-height: 55px;
  }
}

.gallery__wrapper p {
  margin: 0 0 31px;
  padding: 0 15px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    width: 430px;
    margin: 0 0 21px;
    padding: 0 0 0 45px;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 715px;
    margin: 0 0 45px;
    padding: 0 0 0 120px;
    font-size: 16px;
    line-height: 24px;
  }
}

.gallery__wrapper p br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__slider {
  @media (min-width: $tablet-width) {
    position: static;
  }
}

.gallery__slider-wrapper {
  margin: 0 0 3px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 5px;
  }
}

.gallery__slider-buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__prev-slide {
  @media (min-width: $tablet-width) {
    top: 146px;
    right: 86px;
    width: 37px;
    height: 35px;
    margin: 0 0 0 auto;
    background-color: $accent-color;
    border: none;

    &::before {
      @include pseudo(13px, 1px);

      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      background-color: $secondary-text-color;
    }

    &::after {
      @include pseudo(6px, 6px);

      left: 12px;
      transform: rotate(225deg);
      border-top: 1px solid $secondary-text-color;
      border-right: 1px solid $secondary-text-color;
      border-radius: 1px;
    }
  }
}

.gallery__next-slide {
  @media (min-width: $tablet-width) {
    top: 146px;
    right: 45px;
    width: 37px;
    height: 35px;
    margin: 0 0 0 auto;
    background-color: $accent-color;
    border: none;

    &::before {
      @include pseudo(13px, 1px);

      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      background-color: $secondary-text-color;
    }

    &::after {
      @include pseudo(6px, 6px);

      right: 12px;
      transform: rotate(45deg);
      border-top: 1px solid $secondary-text-color;
      border-right: 1px solid $secondary-text-color;
      border-radius: 1px;
    }
  }
}

.gallery__slide {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  width: 158px;

  @media (min-width: $tablet-width) {
    width: 253px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery__slide img {
  display: block;
  object-fit: cover;
}

.gallery__slider-buttons button:hover {
  background-color: $primary-bg-color;
  border: 1px solid $active-color;

  &::before {
    background-color: $active-color;
  }

  &::after {
    border-top: 1px solid $active-color;
    border-right: 1px solid $active-color;
  }
}

.gallery__slider-buttons button:focus {
  outline: none;
  background-color: $primary-bg-color;
  border: 1px solid $primary-bg-color;

  &::before {
    background-color: $active-color;
  }

  &::after {
    border-top: 1px solid $active-color;
    border-right: 1px solid $active-color;
  }
}

.gallery__slider-buttons button:active {
  background-color: $active-color;
  border: 1px solid $active-color;

  &::before {
    background-color: $primary-bg-color;
  }

  &::after {
    border-top: 1px solid $primary-bg-color;
    border-right: 1px solid $primary-bg-color;
  }
}

.gallery__slider-buttons button:disabled,
.gallery__slider-buttons .swiper-button-disabled {
  pointer-events: none;
  opacity: 1;
  background-color: $disabled-slider-button;
  border: 1px solid $disabled-slider-button;
}
