.reviews__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 37px 0 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 60px 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 144px 0 43px 110px;
  }
}

.reviews__title {
  margin: 0 0 11px;
  padding: 0 15px;
  font-family: $primary-font;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    width: 450px;
    margin: 0 0 15px;
    padding: 0 20px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
    margin: 0 0 18px;
    padding: 0 0 0 10px;
    font-size: 35px;
    line-height: 35px;
  }
}

.reviews__title-shadow {
  position: absolute;
  top: 23px;
  left: 15px;
  font-family: $primary-font;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: $title-shadow-text-color;

  @media (min-width: $tablet-width) {
    top: 47px;
    left: 45px;
    width: 560px;
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 105px;
    left: 120px;
    width: 1025px;
    font-size: 55px;
    line-height: 55px;
  }
}

.reviews__reviews-swiper {
  position: static;
  min-height: 486px;

  @media (min-width: $tablet-width) {
    min-height: 317px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    min-height: 293px;
  }
}

.reviews__slider-buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.reviews__prev-slide {
  @media (min-width: $tablet-width) {
    top: 60px;
    right: 86px;
    width: 37px;
    height: 35px;
    margin: 0 0 0 auto;
    background-color: $accent-color;
    border: none;

    &::before {
      @include pseudo(13px, 1px);

      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      background-color: $secondary-text-color;
    }

    &::after {
      @include pseudo(6px, 6px);

      left: 12px;
      transform: rotate(225deg);
      border-top: 1px solid $secondary-text-color;
      border-right: 1px solid $secondary-text-color;
      border-radius: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 144px;
    right: 161px;
  }
}

.reviews__next-slide {
  @media (min-width: $tablet-width) {
    top: 60px;
    right: 45px;
    width: 37px;
    height: 35px;
    margin: 0 0 0 auto;
    background-color: $accent-color;
    border: none;

    &::before {
      @include pseudo(13px, 1px);

      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      background-color: $secondary-text-color;
    }

    &::after {
      @include pseudo(6px, 6px);

      right: 12px;
      transform: rotate(45deg);
      border-top: 1px solid $secondary-text-color;
      border-right: 1px solid $secondary-text-color;
      border-radius: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 144px;
    right: 120px;
  }
}

.reviews__reviews-swiper-wrapper {
  @media (min-width: $tablet-width) {
    min-height: 317px;
  }
}

.reviews__slider-buttons button:hover {
  background-color: $primary-bg-color;
  border: 1px solid $active-color;

  &::before {
    background-color: $active-color;
  }

  &::after {
    border-top: 1px solid $active-color;
    border-right: 1px solid $active-color;
  }
}

.reviews__slider-buttons button:focus {
  outline: none;
  background-color: $primary-bg-color;
  border: 1px solid $primary-bg-color;

  &::before {
    background-color: $active-color;
  }

  &::after {
    border-top: 1px solid $active-color;
    border-right: 1px solid $active-color;
  }
}

.reviews__slider-buttons button:active {
  background-color: $active-color;
  border: 1px solid $active-color;

  &::before {
    background-color: $primary-bg-color;
  }

  &::after {
    border-top: 1px solid $primary-bg-color;
    border-right: 1px solid $primary-bg-color;
  }
}

.reviews__slider-buttons .swiper-button-disabled,
.reviews__slider-buttons button:disabled {
  pointer-events: none;
  opacity: 1;
  background-color: $disabled-slider-button;
  border: 1px solid $disabled-slider-button;
}
