// FONTS
$primary-font: "Montserrat", "Arial", sans-serif;

// WIDTH'S
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// TEXT COLORS
$primary-text-color: #2d383f;
$secondary-text-color: #ffffff;

// BACKGROUND & UI COLORS
$accent-color: #0266c1;

// HOVER,FOCUS,ACTIVE,DISABLED STATES
